* {
    box-sizing: border-box;
}

p.dibujo {
    text-align: center;
}

body {
    width: 100%;
}

div.container {
    display: flex;
}
img.sombrero {
    margin: 0 auto;
}



h1.titulo {
    text-align: center;
    font-style: oblique;
}

a.email {
    margin: 0 auto;
}

span.vacio {
    color: transparent;
}

span.color:nth-child(1) {
    color: blue;
}

span.color:nth-child(2) {
    color: green;
}

span.color:nth-child(3) {
    color: red;
}

span.color:nth-child(4) {
    color: grey;
}

span.color:nth-child(5) {
    color: goldenrod;
}

hr {
    height: 10px;
}