* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span.red {
    color: #f00
}

div.formulario {
    width: 1200px;
    height: 800px;
    background-color: beige;
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 200px;
    height: 25px;
    border-radius: 10px;
}

