* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Young Serif', serif;
}

body {
    background: transparent;
}

form.formulario {
    width: 1200px;
    height: 400px;
    background: rgba(156, 139, 43, 30%);
    margin: 250px auto;
    border-radius: 20px;
    border: 3px solid black;
    outline: 1px solid white;
    
}

h1.titulo {
    text-align: center;
    padding-top: 20px;
    font-size: 2.5em;
    
}

div.container {
    margin: 150px;
    margin-left: 100px;
    width: 1000px;
    height: 35px;
}

div.container1 {
    display: flex;
}

i.fa-solid.fa-eye {
    margin: auto;
    margin-left: 10px;
}

i.fa-solid.fa-eye-slash {
    margin: auto;
    margin-left: 8px;
}

label.contrasena {
    font-size: 2em;
}
input.passwordInput {
    width: 1000px;
    height: 35px;
    border-radius: 10px;
}

input.buttonInput {
    
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 20px;
}

i.fa-solid.fa-copy {
    padding: 10px;
}


div.container_footer {
    width: 90%;
    height: 50px;
    background: rgba(156, 139, 43, 30%);
    margin: 0 auto;
    border-radius: 10px;
    border: 3px solid black;
    outline: 1px solid white;
}