* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Young Serif', serif;
}

body {
    background: transparent;
}

form.formulario {
    width: 1200px;
    height: 400px;
    background: rgba(156, 139, 43, 30%);
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    
}

h1.titulo {
    text-align: center;
    padding-top: 20px;
    font-size: 2.5em;
    
}

div.container {
    margin: 150px;
    margin-left: 100px;
    width: 1000px;
    height: 35px;
}

div.container1 {
    display: flex;
}

i.fa-solid.fa-eye {
    margin: auto;
    margin-left: 10px;
}

i.fa-solid.fa-eye-slash {
    margin: auto;
    margin-left: 8px;
}

label.contrasena {
    font-size: 2em;
}
input.passwordInput {
    width: 1000px;
    height: 35px;
    border-radius: 10px;
}

input.buttonInput {
    
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 20px;
}
input.buttonInput:hover {
    background: #bbb;
    cursor: pointer;
    transition: all 0.5s ease ;
}

i:hover {
    cursor: pointer;
}

i.fa-solid.fa-copy {
    padding: 10px;
}


div.container_footer {
    width: 90%;
    height: 50px;
    background: rgba(156, 139, 43, 30%);
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 0%;
    /* position: fixed;
    /* top: 50%; Centra verticalmente en relación con la ventana */
    /* left: 50%; Centra horizontalmente en relación con la ventana */
    /* transform: translate(-50%, -50%); Corrige el desplazamiento de la mitad del ancho y la mitad del alto del elemento */ 
}

div.secondContainer {
    width: 1200px;
    height: 1000px;
    background: rgba(156, 139, 43, 30%);
    margin: 250px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

div.secondContainer_uls {
    display: flex;
}
h2.secondContainer_h2 {
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
}

li.secondContainer_li {
    margin: 30px 50px;
    text-align: justify;
}
ul {
    width: 50%;
}

hr.lineaHr {
    background: #000;
    height: 5px;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#ff0000, #bbb);
    border-radius: 10px;
}

div.exercise {
    /* display: none; */
    margin: auto;
    width: 400px;
    height: 200px;
    background: rgba(156, 139, 43, 30%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

div.exercise {
    display: none;
    margin: 300px auto;
    display: flex;
    
}

div.exercise p {
    text-align: center;
    padding: 10px;
}

div.exercise f {
    padding: 10px;
}

div.exercise input.submit {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    display: block;
    
}

input.submit:hover {
    background: #bbb;
    cursor: pointer;
    transition: all 0.5s ease ;
}
input.exerciseButtonInput {
    
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin: 10px;
}
input.exerciseButtonInput:hover {
    background: #bbb;
    cursor: pointer;
    transition: all 0.5s ease ;
}
