* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #fff;
    display: grid;
    place-items: center;
    min-height: 100vh;
}


div.gabriel {
    width: 200px;
    height: 200px;
    background-color: #252525;
    margin: 300px auto;
    border-radius: 50%;
    display: flex;
    box-shadow: 0 0 30px #0006;
}

div.gabriel-animation {
    animation: gabriel 1.5s linear forwards;
    animation-fill-mode: forwards;
}

div.gabriel:hover {
    transform: scale(1.2);
    transition: transform .3s ease-in-out;
}

div.gabriel:not(:hover) {
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
a {
    margin: auto;
    text-decoration: none;
    font-size: large;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

@keyframes gabriel {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(12);

    }
}















div.calculadora {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    width: 350px;
    background-color: burlywood;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
    transform: scale(2);
    display: none;

}


div.calculadora:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.288);
}

div.pantalla {
    grid-column:  1 / 5;
    text-align: right;
    padding-right: 10px;
    background-color: rgba(210, 105, 30, 0.71);
    color: #fff;
    border-radius: 10rem;
}

button.btn {
    color: #fff;
    border: 0;
    background: burlywood;
    padding: 10px
    
}

button:hover {
    cursor: pointer;
    background: rgb(216, 162, 92) ;
}

button#cero{
    grid-column: 1 / 3;
}

button#igual {
    grid-row: 5 / 7;
    grid-column: 4 / 5;
}

span.colores:nth-child(1) {
    color: red;
}



div.radek {
    width: 98%;
    height: 70px;
    background-color: #252525;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 30px #0006;
}
