* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

header {
    text-align: center;
}


div.mainContainer {
    display: flex;
    border: 2px solid black;
}

div.flexChilds {
    width: 120px;
    height: 120px;
    outline: 2px solid black;
}

div.flexChilds:hover {
    cursor: pointer;
}

div.flexContainer {
    display: flex;
    width: 800px;
    height: 800px;
    border: 2px solid #000;
    top: 100px;
    left: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 800px;
    max-height: 800px;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
}

div.options {
    width: 800px;
    height: 800px;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    right: 100px;
    text-align: center;
}

div.sizeFlexContainer {
    display: flex;
    align-content: center;
}

i.fa-solid{
    border: 1px solid #000;
    padding: 3px 5px;
    cursor: pointer;
}
i.fa-minus:hover {
    box-shadow: 0 0 12px red;
}

i.fa-plus:hover {
    box-shadow: 0 0 12px green;
}

i.fa-minus {
    background-color: red;
}

i.fa-plus {
    background-color: green;
}

div.flexChilds:nth-child(1) {
    background-color: #FF0000;
}

div.flexChilds:nth-child(2) {
    background-color: #00FF00;
}

div.flexChilds:nth-child(3) {
    background-color: #0000FF;
}

div.flexChilds:nth-child(4) {
    background-color: #FFFF00;
    display: none;
}

div.flexChilds:nth-child(5) {
    background-color: #FFC0CB;
    display: none;
}

div.flexChilds:nth-child(6) {
    background-color: #800080;
    display: none;
}

div.flexChilds:nth-child(7) {
    background-color: #FFA500;
    display: none;
}

div.flexChilds:nth-child(8) {
    background-color: #808080;
    display: none;
}

div.flexChilds:nth-child(9) {
    background-color: #00FFFF;
    display: none;
}