* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

div.mainContainer {
    display: flex;
    border: 2px solid black;
}

div.flexChilds {
    width: 100px;
    height: 100px;
}

div.flexContainer {
    display: flex;
    width: 800px;
    height: 800px;
    border: 2px solid #000;
    margin: 50px 50px;
    min-width: 100px;
    min-height: 100px;
    max-width: 800px;
    max-height: 800px;
}

div.options {
    width: 800px;
    height: 800px;
    border: 2px solid black;
    margin: 50px 50px;
    text-align: center;
}

div.sizeFlexContainer {
    display: flex;
    align-content: center;
}

i.fa-solid{
    border: 1px solid #000;
    padding: 3px 5px;
}

i.fa-minus {
    background-color: red;
}

i.fa-plus {
    background-color: green;
}