* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'EB Garamond', serif;
}

#foto-perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
}

.redes-sociales {
    list-style: none;
}

.cabecera__container  {
    display: flex;
    flex-direction: row;
    gap: 2em;
}