


body  {
    background-color: antiquewhite;
}


div.pinguino {
    width: 100px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 20%;
}

div.superior {
    position: absolute;
    width: 150px;
    background-color: black;
    height: 150px;
    border-radius: 50% ;
}

div.ojoIzquierdo  {
    position: absolute;
    z-index: 11;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: black;
    top: 25px;
}

div.ojoDerecho  {
    position: absolute;
    z-index: 11;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: black;
    top: 25px;
    left: 40px;
}

div.destello {
    position: absolute;
    z-index: 12;
   border-radius: 50%;
   width: 10px;
   height: 10px;
   background-color: white;
   top: 30%;
   left: 13%;
}

div.bocaSuperior {
    position: absolute;
    z-index: 11;
    width: 30px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    left: 48px;
    top: 5px;
}

div.bocaInferior {
    position: absolute;
    z-index: 11;
    width: 25px;
    height: 12px;
    background-color: yellow;
    border-radius: 50%;
    left: 50.5px;
    top: 12px;
}










div.inferior {
    position: absolute;
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 50%;
    top: 50px;
    left: -10px;
}

div.caraIzquierda {
    position: absolute;
    background-color: grey;
    z-index: 10;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    top: 18px;
    left: 20px;
}

div.caraDerecha {
    position: absolute;
    background-color: grey;
    z-index: 10;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    top: 18px;
    left: 40px;
}

div.barriga {
    position: absolute;
    background-color: grey;
    z-index: 10;
    width: 130px;
    height: 130px;
    border-radius: 50% / 40%;
    top: 20px;
    left: 20px;
}

div.brazoIzquierdo {
    position: absolute;
    z-index: -1;
    background-color: black;
    width: 50px;
    height: 25px;
    transform: rotate(-45deg);
    left: -43px;
    top: 35px;
    border-radius: 40% 50% 60% 80%;
}

div.brazoDerecho {
    position: absolute;
    z-index: -1;
    background-color: black;
    width: 50px;
    height: 25px;
    transform: rotate(45deg);
    left: 123px;
    top: 35px;
    border-radius: 40% 50% 60% 80%;
}




div.piernaIzquierda {
    position: absolute;
    background-color: yellow;
    width: 50px;
    height: 50px;
    z-index: -10;
    transform: rotate(100deg);
    border-radius: 30% 80%;
    top: 130px;
    left: 20px;
}

div.piernaDerecha {
    position: absolute;
    background-color: yellow;
    width: 50px;
    height: 50px;
    z-index: -10;
    transform: rotate(-100deg);
    border-radius: 80% 30%;
    top: 130px;
    left: 100px;
}