body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

.slot-machine {
    display: flex;
    width: 300px;
    height: 100px;
    overflow: hidden;
}

.reel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #333;
    overflow: hidden;
    position: relative;
}

.reel img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    transition: top 2s linear;
}

.slot-machine:hover .reel img {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        top: 0;
    }
    16.666% {
        top: -100%;
    }
    33.333% {
        top: -200%;
    }
    50% {
        top: -300%;
    }
    66.666% {
        top: -400%;
    }
    83.333% {
        top: -500%;
    }
}
