* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.container {
    display: grid;
    grid-template-rows: repeat(3 , 300px);
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    margin-top: 50px;

    
}
div.container__child {
    background-color:aliceblue;
    width: 250px;
    height: 250px;
    
}

div.container__child:nth-child(1){
    background-image: url(img/donpollo.jpg);
    background-size: cover;
    grid-column: 1 / 3;
    width: auto;
    height: auto;
    border: 1px solid black;
    
}

div.container__child:nth-child(2){
    background-image: url(img/peter.jpeg);
    background-size: cover;
    background-position-x: center;
    border: 1px solid black;
    height: auto;
}

div.container__child:nth-child(3){
    background-image: url(img/Bad\ bunny.jpeg);
    background-size: cover;
    background-position-x: center;
    grid-row: 2 / 4;
    height: auto;
    border: 1px solid black;
    width: auto;
}

div.container__child:nth-child(4){
    background-image: url(img/Doraemon.jpeg);
    grid-column: 2 / 4;
    height: auto;
    width: 91.8%;
    background-size: cover;
}

div.container__child:nth-child(5){}

div.container__child:nth-child(6){}

div.container__child:nth-child(7){}

div.container__child:nth-child(8){}

div.container__child:nth-child(9){}