* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

/* Header css */
div.headerContainer {
    width: 100%;
    height: 100px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

h1#headerTitle {
    margin: 10px auto 0;
    text-transform: uppercase;
    
    
}

ul#headerList {
    display: flex;
    list-style: none;
    font-style: oblique;

}

a {
    text-decoration: none;
}

li.headerList__li {
    padding: 30px;
}

/* ///////////////////////////////////////////// */

/* Main CSS */

div.mainContainer {
    width: 32%;
    min-height: 1000px;
    height: 100%;
    background-color:beige;
    
    margin: 0 auto;
}

div.firstList {
    display: flex;
    flex-direction: column;
}

div.secondList {
    display: flex;
    flex-direction: column;
    display: none;
}

div.thirdList {
    display: flex;
    flex-direction: column;
    display: none;
}

h2#mainTitle {
    margin: 30px auto 0;
}

input#input {
    margin: 30px auto 0;
    width: 600px;
    height: 30px;
    border-radius: 10px;

}

ul#mainList {
    margin: 10px 1;
    list-style: symbols("");
    
    
}
ul#mainList li {
    padding: 10px;
    
}

div.textAndIcon {
    display: flex
}

/* Menú desplegable */

div.mainMenu  {
    display: flex;
}
