* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;

}

header.mainHeader {
    background: #252525;
    width: 100vw;
    height: auto;

}


header.mainHeader ul {
    display: flex;
    color: #fff;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
img.logo {
    width: 100px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: burlywood;
    
}

section.main {
    margin-top: 100px;
    width: 100vw;
    height: 700px;
    background-color: #252525;
    text-align: center;
    
}


article.mainArticle {
    justify-content: center;
    display: flex;
}
div.info {
    margin-top: 100px;
    border: 1px solid #fff;
    width: 800px;
}

img.image {
    width: 500px;
    height: 500px;
}

article.select {
    margin-top: 80px;
    
}
a.pizzas {
    padding: 0 15px;
    cursor: pointer;
}

a.selected {
    background-color: grey;
    border: 3px solid #000;
}