* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header.mainHeader {
    background: #252525;
    width: 100vw;
    height: auto;

}


header.mainHeader ul {
    display: flex;
    color: #fff;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
img.logo {
    width: 100px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: burlywood;
    
}

div.main {
    display: flex;
    background-color: #252525;
    margin-top: 100px;
    justify-content: space-evenly;
    
    
}

nav {
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-weight: bold;

}

img.pizzas {
    width: 500px;
}