* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

.cabecera {
   
    text-align: center;
}

.foto-perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.redes-sociales {
    list-style: none;
    margin: 30px;
    max-height: 50px;
    
}
.redes-sociales li {
    display: inline-block;
    padding: 0 15px;
    font-size: 2em;
    margin: 10px;
    margin-bottom: 30px;
    transition: all 0.5s;
    /* border: 2px solid red; */
    
    
}
.cabecera__container  {
  background: none;
}

h1 {
    margin-bottom: 20px;
}

li.icons:hover{
    font-size: 3em;
}

a:visited {
    color: #000;
}
.skills {
    display: flex;
    flex-direction: row;
    gap: 10em;
    margin: 20px;
    margin-bottom: 100px;
    font-size: 1.3em;
    
    
}

h2 {
    margin-left: 20px;
}

section.languages {
    display: flex;
    flex-direction: column;
    
}

.hr-languages {
    width: 200px;
    margin-left: 10px;
    text-align: center;
    margin: auto;
}
.p-languages {
    padding: 10px;
    margin: 10px auto;
}

section.languages {
    text-align: center;
    margin-top: 50px;
}

.soft-skills {
    text-align: center;
    margin: 50px;
}

ul.skills {
    margin-bottom: 0;
}