* {
    color: #fff;
    font-weight: bold;
}

ul {
    list-style: none;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid #fff;
}


body {
    background-image: url(img/matrix-background.jpg);
}


header {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid #fff;
    width: 15%;
    margin:  90px auto;
    padding: 10px 0;
}

section#personajes {
    display: flex;
    justify-content: space-evenly;
}



img  {
    border-radius: 50%;
}


figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

figcaption {
    font-size: 1.8em;
    text-shadow: 16px 18px 1px rgba(62, 223, 81, 0.33);
}
h2 {
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid #fff;
    padding: 20px;
}



section#info {
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid #fff;
    margin: 80px 100px;
}

section#info p {
    padding: 50px;
    font-size: 1.2em;
    
}