* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}

.cabecera {
    width: auto;
    background-color: burlywood;
    height: 100px;
    
    border-bottom: 3px solid black;
}

.container_menu {
    display: flex;
    flex-direction: row-reverse;
}

.lista {
    list-style: none;
    margin: 35px;
    
    
    
}

li {
    display: inline-block;
    padding: 0 10px;
    
}